:root {
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: "Operator Mono Lig", "Cascadia Code";
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 15px;
  --vscode-foreground: #3b3b3b;
  --vscode-errorForeground: #f85149;
  --vscode-descriptionForeground: #3b3b3b;
  --vscode-icon-foreground: #3b3b3b;
  --vscode-focusBorder: #005fb8;
  --vscode-selection-background: #add6ff;
  --vscode-textSeparator-foreground: #21262d;
  --vscode-textLink-foreground: #005fb8;
  --vscode-textLink-activeForeground: #005fb8;
  --vscode-textPreformat-foreground: #3b3b3b;
  --vscode-textBlockQuote-background: #f8f8f8;
  --vscode-textBlockQuote-border: #e5e5e5;
  --vscode-textCodeBlock-background: #f8f8f8;
  --vscode-widget-shadow: #00000029;
  --vscode-input-background: #ffffff;
  --vscode-input-foreground: #3b3b3b;
  --vscode-inputOption-activeBorder: #005fb8;
  --vscode-inputOption-hoverBackground: #b8b8b850;
  --vscode-inputOption-activeBackground: #bed6ed;
  --vscode-inputOption-activeForeground: #000000;
  --vscode-input-placeholderForeground: #767676;
  --vscode-inputValidation-infoBackground: #d6ecf2;
  --vscode-inputValidation-infoBorder: #007acc;
  --vscode-inputValidation-warningBackground: #f6f5d2;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-inputValidation-errorBackground: #f2dede;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-dropdown-background: #ffffff;
  --vscode-dropdown-foreground: #3b3b3b;
  --vscode-dropdown-border: #cecece;
  --vscode-checkbox-background: #f8f8f8;
  --vscode-checkbox-foreground: #3b3b3b;
  --vscode-checkbox-border: #cecece;
  --vscode-button-foreground: #ffffff;
  --vscode-button-background: #005fb8;
  --vscode-button-hoverBackground: #0258a8;
  --vscode-button-secondaryForeground: #3b3b3b;
  --vscode-button-secondaryBackground: #e5e5e5;
  --vscode-button-secondaryHoverBackground: #cccccc;
  --vscode-badge-background: #cccccc;
  --vscode-badge-foreground: #3b3b3b;
  --vscode-scrollbar-shadow: #dddddd;
  --vscode-scrollbarSlider-background: #64646466;
  --vscode-scrollbarSlider-hoverBackground: #646464b3;
  --vscode-scrollbarSlider-activeBackground: #00000099;
  --vscode-progressBar-background: #005fb8;
  --vscode-editorError-foreground: #e51400;
  --vscode-editorWarning-foreground: #bf8803;
  --vscode-editorInfo-foreground: #1a85ff;
  --vscode-editorHint-foreground: #6c6c6c;
  --vscode-sash-hoverBorder: #005fb8;
  --vscode-editor-background: #ffffff;
  --vscode-editor-foreground: #3b3b3b;
  --vscode-editorWidget-background: #f8f8f8;
  --vscode-editorWidget-foreground: #3b3b3b;
  --vscode-editorWidget-border: #c8c8c8;
  --vscode-quickInput-background: #f8f8f8;
  --vscode-quickInput-foreground: #3b3b3b;
  --vscode-quickInputTitle-background: #0000000f;
  --vscode-pickerGroup-foreground: #8b949e;
  --vscode-pickerGroup-border: #e5e5e5;
  --vscode-keybindingLabel-background: #dddddd66;
  --vscode-keybindingLabel-foreground: #3b3b3b;
  --vscode-keybindingLabel-border: #cccccc66;
  --vscode-keybindingLabel-bottomBorder: #bbbbbb66;
  --vscode-editor-selectionBackground: #add6ff;
  --vscode-editor-selectionForeground: transparent;
  --vscode-editor-inactiveSelectionBackground: #e5ebf1;
  --vscode-editor-selectionHighlightBackground: #add6ff80;
  --vscode-editor-findMatchBackground: #a8ac94;
  --vscode-editor-findMatchHighlightBackground: #ea5c0055;
  --vscode-editor-findRangeHighlightBackground: #b4b4b44d;
  --vscode-editor-findMatchBorder: transparent;
  --vscode-searchEditor-findMatchBackground: #ea5c0038;
  --vscode-editor-hoverHighlightBackground: #add6ff26;
  --vscode-editorHoverWidget-background: #f8f8f8;
  --vscode-editorHoverWidget-foreground: #3b3b3b;
  --vscode-editorHoverWidget-border: #c8c8c8;
  --vscode-editorHoverWidget-statusBarBackground: #ececec;
  --vscode-editorLink-activeForeground: #0000ff;
  --vscode-editorInlayHint-foreground: #969696;
  --vscode-editorInlayHint-background: #cccccc1a;
  --vscode-editorInlayHint-typeForeground: #969696;
  --vscode-editorInlayHint-typeBackground: #cccccc1a;
  --vscode-editorInlayHint-parameterForeground: #969696;
  --vscode-editorInlayHint-parameterBackground: #cccccc1a;
  --vscode-editorLightBulb-foreground: #ddb100;
  --vscode-editorLightBulbAutoFix-foreground: #007acc;
  --vscode-diffEditor-insertedTextBackground: #9ccc2c40;
  --vscode-diffEditor-removedTextBackground: #ff000033;
  --vscode-diffEditor-diagonalFill: #22222233;
  --vscode-list-focusOutline: #005fb8;
  --vscode-list-activeSelectionBackground: #e8e8e8;
  --vscode-list-activeSelectionForeground: #000000;
  --vscode-list-inactiveSelectionBackground: #e4e6f1;
  --vscode-list-inactiveSelectionForeground: transparent;
  --vscode-list-inactiveFocusOutline: transparent;
  --vscode-list-hoverBackground: #f2f2f2;
  --vscode-list-dropBackground: #d6ebff;
  --vscode-list-highlightForeground: #0066bf;
  --vscode-list-focusHighlightForeground: #0066bf;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #b01011;
  --vscode-list-warningForeground: #855f00;
  --vscode-listFilterWidget-background: #f8f8f8;
  --vscode-listFilterWidget-outline: #00000000;
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-list-filterMatchBackground: #ea5c0055;
  --vscode-tree-indentGuidesStroke: #a9a9a9;
  --vscode-tree-tableColumnsBorder: #61616120;
  --vscode-tree-tableOddRowsBackground: #3b3b3b0a;
  --vscode-list-deemphasizedForeground: #8e8e90;
  --vscode-quickInputList-focusForeground: #000000;
  --vscode-quickInputList-focusBackground: #e8e8e8;
  --vscode-menu-border: #cecece;
  --vscode-menu-foreground: #3b3b3b;
  --vscode-menu-background: #ffffff;
  --vscode-menu-selectionForeground: #ffffff;
  --vscode-menu-selectionBackground: #005fb8;
  --vscode-menu-separatorBackground: #d4d4d4;
  --vscode-toolbar-hoverBackground: #b8b8b850;
  --vscode-toolbar-activeBackground: #a6a6a650;
  --vscode-editor-snippetTabstopHighlightBackground: #0a326433;
  --vscode-editor-snippetFinalTabstopHighlightBorder: #0a326480;
  --vscode-breadcrumb-foreground: #3b3b3bcc;
  --vscode-breadcrumb-background: #ffffff;
  --vscode-breadcrumb-focusForeground: #2f2f2f;
  --vscode-breadcrumb-activeSelectionForeground: #2f2f2f;
  --vscode-breadcrumbPicker-background: #f8f8f8;
  --vscode-merge-currentHeaderBackground: #40c8ae80;
  --vscode-merge-currentContentBackground: #40c8ae33;
  --vscode-merge-incomingHeaderBackground: #40a6ff80;
  --vscode-merge-incomingContentBackground: #40a6ff33;
  --vscode-merge-commonHeaderBackground: #60606066;
  --vscode-merge-commonContentBackground: #60606029;
  --vscode-editorOverviewRuler-currentContentForeground: #40c8ae80;
  --vscode-editorOverviewRuler-incomingContentForeground: #40a6ff80;
  --vscode-editorOverviewRuler-commonContentForeground: #60606066;
  --vscode-editorOverviewRuler-findMatchForeground: #d186167e;
  --vscode-editorOverviewRuler-selectionHighlightForeground: #a0a0a0cc;
  --vscode-editorOverviewRuler-unicodeForeground: transparent;
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionOccurrenceHighlight: #c9c9c9;
  --vscode-minimap-selectionHighlight: #add6ff;
  --vscode-minimap-errorHighlight: #ff1212b3;
  --vscode-minimap-warningHighlight: #bf8803;
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimap-unicodeHighlight: transparent;
  --vscode-minimapSlider-background: #64646433;
  --vscode-minimapSlider-hoverBackground: #64646459;
  --vscode-minimapSlider-activeBackground: #0000004d;
  --vscode-problemsErrorIcon-foreground: #e51400;
  --vscode-problemsWarningIcon-foreground: #bf8803;
  --vscode-problemsInfoIcon-foreground: #1a85ff;
  --vscode-charts-foreground: #3b3b3b;
  --vscode-charts-lines: #3b3b3b80;
  --vscode-charts-red: #e51400;
  --vscode-charts-blue: #1a85ff;
  --vscode-charts-yellow: #bf8803;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #388a34;
  --vscode-charts-purple: #652d90;
  --vscode-editor-lineHighlightBackground: transparent;
  --vscode-editor-lineHighlightBorder: #eeeeee;
  --vscode-editor-rangeHighlightBackground: #fdff0033;
  --vscode-editor-symbolHighlightBackground: #ea5c0055;
  --vscode-editorCursor-foreground: #000000;
  --vscode-editorWhitespace-foreground: #33333333;
  --vscode-editorIndentGuide-background: #d3d3d3;
  --vscode-editorIndentGuide-activeBackground: #939393;
  --vscode-editorLineNumber-foreground: #6e7681;
  --vscode-editorActiveLineNumber-foreground: #171184;
  --vscode-editorLineNumber-activeForeground: #171184;
  --vscode-editorRuler-foreground: #d3d3d3;
  --vscode-editorCodeLens-foreground: #919191;
  --vscode-editorBracketMatch-background: #0064001a;
  --vscode-editorBracketMatch-border: #b9b9b9;
  --vscode-editorOverviewRuler-border: #e5e5e5;
  --vscode-editorGutter-background: #ffffff;
  --vscode-editorUnnecessaryCode-opacity: #00000077;
  --vscode-editorGhostText-foreground: #00000077;
  --vscode-editorOverviewRuler-rangeHighlightForeground: #007acc99;
  --vscode-editorOverviewRuler-errorForeground: #ff1212b3;
  --vscode-editorOverviewRuler-warningForeground: #bf8803;
  --vscode-editorOverviewRuler-infoForeground: #1a85ff;
  --vscode-editorBracketHighlight-foreground1: #0431fa;
  --vscode-editorBracketHighlight-foreground2: #319331;
  --vscode-editorBracketHighlight-foreground3: #7b3814;
  --vscode-editorBracketHighlight-foreground4: #00000000;
  --vscode-editorBracketHighlight-foreground5: #00000000;
  --vscode-editorBracketHighlight-foreground6: #00000000;
  --vscode-editorBracketHighlight-unexpectedBracket\.foreground: #ff1212cc;
  --vscode-editorBracketPairGuide-background1: #00000000;
  --vscode-editorBracketPairGuide-background2: #00000000;
  --vscode-editorBracketPairGuide-background3: #00000000;
  --vscode-editorBracketPairGuide-background4: #00000000;
  --vscode-editorBracketPairGuide-background5: #00000000;
  --vscode-editorBracketPairGuide-background6: #00000000;
  --vscode-editorBracketPairGuide-activeBackground1: #00000000;
  --vscode-editorBracketPairGuide-activeBackground2: #00000000;
  --vscode-editorBracketPairGuide-activeBackground3: #00000000;
  --vscode-editorBracketPairGuide-activeBackground4: #00000000;
  --vscode-editorBracketPairGuide-activeBackground5: #00000000;
  --vscode-editorBracketPairGuide-activeBackground6: #00000000;
  --vscode-editorUnicodeHighlight-border: #bf8803;
  --vscode-symbolIcon-arrayForeground: #3b3b3b;
  --vscode-symbolIcon-booleanForeground: #3b3b3b;
  --vscode-symbolIcon-classForeground: #d67e00;
  --vscode-symbolIcon-colorForeground: #3b3b3b;
  --vscode-symbolIcon-constantForeground: #3b3b3b;
  --vscode-symbolIcon-constructorForeground: #652d90;
  --vscode-symbolIcon-enumeratorForeground: #d67e00;
  --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
  --vscode-symbolIcon-eventForeground: #d67e00;
  --vscode-symbolIcon-fieldForeground: #007acc;
  --vscode-symbolIcon-fileForeground: #3b3b3b;
  --vscode-symbolIcon-folderForeground: #3b3b3b;
  --vscode-symbolIcon-functionForeground: #652d90;
  --vscode-symbolIcon-interfaceForeground: #007acc;
  --vscode-symbolIcon-keyForeground: #3b3b3b;
  --vscode-symbolIcon-keywordForeground: #3b3b3b;
  --vscode-symbolIcon-methodForeground: #652d90;
  --vscode-symbolIcon-moduleForeground: #3b3b3b;
  --vscode-symbolIcon-namespaceForeground: #3b3b3b;
  --vscode-symbolIcon-nullForeground: #3b3b3b;
  --vscode-symbolIcon-numberForeground: #3b3b3b;
  --vscode-symbolIcon-objectForeground: #3b3b3b;
  --vscode-symbolIcon-operatorForeground: #3b3b3b;
  --vscode-symbolIcon-packageForeground: #3b3b3b;
  --vscode-symbolIcon-propertyForeground: #3b3b3b;
  --vscode-symbolIcon-referenceForeground: #3b3b3b;
  --vscode-symbolIcon-snippetForeground: #3b3b3b;
  --vscode-symbolIcon-stringForeground: #3b3b3b;
  --vscode-symbolIcon-structForeground: #3b3b3b;
  --vscode-symbolIcon-textForeground: #3b3b3b;
  --vscode-symbolIcon-typeParameterForeground: #3b3b3b;
  --vscode-symbolIcon-unitForeground: #3b3b3b;
  --vscode-symbolIcon-variableForeground: #007acc;
  --vscode-editorHoverWidget-highlightForeground: #0066bf;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-foldBackground: #add6ff4d;
  --vscode-editorGutter-foldingControlForeground: #3b3b3b;
  --vscode-editor-linkedEditingBackground: #ff00004d;
  --vscode-editorSuggestWidget-background: #f8f8f8;
  --vscode-editorSuggestWidget-border: #c8c8c8;
  --vscode-editorSuggestWidget-foreground: #3b3b3b;
  --vscode-editorSuggestWidget-selectedForeground: #000000;
  --vscode-editorSuggestWidget-selectedBackground: #e8e8e8;
  --vscode-editorSuggestWidget-highlightForeground: #0066bf;
  --vscode-editorSuggestWidget-focusHighlightForeground: #0066bf;
  --vscode-editorSuggestWidgetStatus-foreground: #3b3b3b80;
  --vscode-editor-wordHighlightBackground: #57575740;
  --vscode-editor-wordHighlightStrongBackground: #0e639c40;
  --vscode-editorOverviewRuler-wordHighlightForeground: #a0a0a0cc;
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: #c0a0c0cc;
  --vscode-peekViewTitle-background: #f3f3f3;
  --vscode-peekViewTitleLabel-foreground: #000000;
  --vscode-peekViewTitleDescription-foreground: #616161;
  --vscode-peekView-border: #1a85ff;
  --vscode-peekViewResult-background: #ffffff;
  --vscode-peekViewResult-lineForeground: #646465;
  --vscode-peekViewResult-fileForeground: #1e1e1e;
  --vscode-peekViewResult-selectionBackground: #3399ff33;
  --vscode-peekViewResult-selectionForeground: #6c6c6c;
  --vscode-peekViewEditor-background: #f2f8fc;
  --vscode-peekViewEditorGutter-background: #f2f8fc;
  --vscode-peekViewResult-matchHighlightBackground: #bb800966;
  --vscode-peekViewEditor-matchHighlightBackground: #bb800966;
  --vscode-editorMarkerNavigationError-background: #e51400;
  --vscode-editorMarkerNavigationError-headerBackground: #e514001a;
  --vscode-editorMarkerNavigationWarning-background: #bf8803;
  --vscode-editorMarkerNavigationWarning-headerBackground: #bf88031a;
  --vscode-editorMarkerNavigationInfo-background: #1a85ff;
  --vscode-editorMarkerNavigationInfo-headerBackground: #1a85ff1a;
  --vscode-editorMarkerNavigation-background: #ffffff;
  --vscode-tab-activeBackground: #ffffff;
  --vscode-tab-unfocusedActiveBackground: #ffffff;
  --vscode-tab-inactiveBackground: #f8f8f8;
  --vscode-tab-unfocusedInactiveBackground: #f8f8f8;
  --vscode-tab-activeForeground: #3b3b3b;
  --vscode-tab-inactiveForeground: #868686;
  --vscode-tab-unfocusedActiveForeground: #3b3b3bb3;
  --vscode-tab-unfocusedInactiveForeground: #86868680;
  --vscode-tab-border: #e5e5e5;
  --vscode-tab-lastPinnedBorder: #d4d4d4;
  --vscode-tab-activeModifiedBorder: #33aaee;
  --vscode-tab-inactiveModifiedBorder: #33aaee80;
  --vscode-tab-unfocusedActiveModifiedBorder: #33aaeeb3;
  --vscode-tab-unfocusedInactiveModifiedBorder: #33aaee40;
  --vscode-editorPane-background: #ffffff;
  --vscode-editorGroupHeader-tabsBackground: #f8f8f8;
  --vscode-editorGroupHeader-tabsBorder: #e5e5e5;
  --vscode-editorGroupHeader-noTabsBackground: #ffffff;
  --vscode-editorGroup-border: #e5e5e5;
  --vscode-editorGroup-dropBackground: #2677cb2e;
  --vscode-sideBySideEditor-horizontalBorder: #e5e5e5;
  --vscode-sideBySideEditor-verticalBorder: #e5e5e5;
  --vscode-panel-background: #f8f8f8;
  --vscode-panel-border: #e5e5e5;
  --vscode-panelTitle-activeForeground: #3b3b3b;
  --vscode-panelTitle-inactiveForeground: #3b3b3b;
  --vscode-panelTitle-activeBorder: #005fb8;
  --vscode-panel-dropBorder: #3b3b3b;
  --vscode-panelSection-dropBackground: #2677cb2e;
  --vscode-panelSectionHeader-background: #80808033;
  --vscode-panelSection-border: #e5e5e5;
  --vscode-banner-background: #a2a2a2;
  --vscode-banner-foreground: #000000;
  --vscode-banner-iconForeground: #1a85ff;
  --vscode-statusBar-foreground: #3b3b3b;
  --vscode-statusBar-noFolderForeground: #3b3b3b;
  --vscode-statusBar-background: #f8f8f8;
  --vscode-statusBar-noFolderBackground: #f8f8f8;
  --vscode-statusBar-border: #e5e5e5;
  --vscode-statusBar-noFolderBorder: #e5e5e5;
  --vscode-statusBarItem-activeBackground: #ffffff2e;
  --vscode-statusBarItem-hoverBackground: #1f1f1f11;
  --vscode-statusBarItem-prominentForeground: #3b3b3b;
  --vscode-statusBarItem-prominentBackground: #6e768166;
  --vscode-statusBarItem-prominentHoverBackground: #1f1f1f11;
  --vscode-statusBarItem-errorBackground: #c72e0f;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-statusBarItem-warningBackground: #725102;
  --vscode-statusBarItem-warningForeground: #ffffff;
  --vscode-activityBar-background: #f8f8f8;
  --vscode-activityBar-foreground: #1f1f1f;
  --vscode-activityBar-inactiveForeground: #616161;
  --vscode-activityBar-border: #e5e5e5;
  --vscode-activityBar-activeBorder: #005fb8;
  --vscode-activityBar-activeFocusBorder: transparent;
  --vscode-activityBar-activeBackground: transparent;
  --vscode-activityBar-dropBorder: #1f1f1f;
  --vscode-activityBarBadge-background: #005fb8;
  --vscode-activityBarBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #005fb8;
  --vscode-statusBarItem-remoteForeground: #ffffff;
  --vscode-extensionBadge-remoteBackground: #005fb8;
  --vscode-extensionBadge-remoteForeground: #ffffff;
  --vscode-sideBar-background: #f8f8f8;
  --vscode-sideBar-foreground: #3b3b3b;
  --vscode-sideBar-border: #e5e5e5;
  --vscode-sideBarTitle-foreground: #3b3b3b;
  --vscode-sideBar-dropBackground: #2677cb2e;
  --vscode-sideBarSectionHeader-background: #f8f8f8;
  --vscode-sideBarSectionHeader-foreground: #3b3b3b;
  --vscode-sideBarSectionHeader-border: #e5e5e5;
  --vscode-titleBar-activeForeground: #1e1e1e;
  --vscode-titleBar-inactiveForeground: #8b949e;
  --vscode-activityBar-background: #f8f8f8;
  --vscode-activityBar-foreground: #1f1f1f;
  --vscode-activityBar-inactiveForeground: #616161;
  --vscode-activityBar-border: #e5e5e5;
  --vscode-activityBar-activeBorder: #005fb8;
  --vscode-activityBar-activeFocusBorder: transparent;
  --vscode-activityBar-activeBackground: transparent;
  --vscode-activityBar-dropBorder: #1f1f1f;
  --vscode-activityBarBadge-background: #005fb8;
  --vscode-activityBarBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #005fb8;
  --vscode-statusBarItem-remoteForeground: #ffffff;
  --vscode-extensionBadge-remoteBackground: #005fb8;
  --vscode-extensionBadge-remoteForeground: #ffffff;
  --vscode-sideBar-background: #f8f8f8;
  --vscode-sideBar-foreground: #3b3b3b;
  --vscode-sideBar-border: #e5e5e5;
  --vscode-sideBarTitle-foreground: #3b3b3b;
  --vscode-sideBar-dropBackground: #2677cb2e;
  --vscode-sideBarSectionHeader-background: #f8f8f8;
  --vscode-sideBarSectionHeader-foreground: #3b3b3b;
  --vscode-sideBarSectionHeader-border: #e5e5e5;
  --vscode-titleBar-activeForeground: #1e1e1e;
  --vscode-titleBar-inactiveForeground: #8b949e;
  --vscode-titleBar-activeBackground: #f8f8f8;
  --vscode-titleBar-inactiveBackground: #f8f8f8;
  --vscode-menubar-selectionForeground: #1e1e1e;
  --vscode-menubar-selectionBackground: #b8b8b850;
  --vscode-notificationCenter-border: #e5e5e5;
  --vscode-notificationToast-border: #e5e5e5;
  --vscode-notifications-foreground: #3b3b3b;
  --vscode-notifications-background: #ffffff;
  --vscode-notificationLink-foreground: #005fb8;
  --vscode-notificationCenterHeader-foreground: #3b3b3b;
  --vscode-notificationCenterHeader-background: #ffffff;
  --vscode-notifications-border: #e5e5e5;
  --vscode-notificationsErrorIcon-foreground: #e51400;
  --vscode-notificationsWarningIcon-foreground: #bf8803;
  --vscode-notificationsInfoIcon-foreground: #1a85ff;
  --vscode-editorGutter-commentRangeForeground: #d5d8e9;
  --vscode-debugToolBar-background: #f3f3f3;
  --vscode-debugToolBar-border: transparent;
  --vscode-debugIcon-startForeground: #388a34;
  --vscode-editor-stackFrameHighlightBackground: #ffff6673;
  --vscode-editor-focusedStackFrameHighlightBackground: #cee7ce73;
  --vscode-settings-headerForeground: #1f1f1f;
  --vscode-settings-modifiedItemIndicator: #bb800966;
  --vscode-settings-dropdownBackground: #ffffff;
  --vscode-settings-dropdownForeground: #3b3b3b;
  --vscode-settings-dropdownBorder: #cecece;
  --vscode-settings-dropdownListBorder: #c8c8c8;
  --vscode-settings-checkboxBackground: #f8f8f8;
  --vscode-settings-checkboxForeground: #3b3b3b;
  --vscode-settings-checkboxBorder: #cecece;
  --vscode-settings-textInputBackground: #ffffff;
  --vscode-settings-textInputForeground: #3b3b3b;
  --vscode-settings-numberInputBackground: #ffffff;
  --vscode-settings-numberInputForeground: #3b3b3b;
  --vscode-settings-focusedRowBackground: #f2f2f299;
  --vscode-settings-rowHoverBackground: #f2f2f24d;
  --vscode-settings-focusedRowBorder: #005fb8;
  --vscode-terminal-background: transparent;
  --vscode-terminal-foreground: #3b3b3b;
  --vscode-terminal-selectionBackground: #add6ff;
  --vscode-terminal-border: #e5e5e5;
  --vscode-terminal-dropBackground: #2677cb2e;
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #e51400;
  --vscode-testing-peekHeaderBackground: #e514001a;
  --vscode-testing-message\.error\.decorationForeground: transparent;
  --vscode-testing-message\.error\.lineBackground: transparent;
  --vscode-testing-message\.info\.decorationForeground: #3b3b3b80;
  --vscode-welcomePage-tileBackground: #f3f3f3;
  --vscode-welcomePage-tileHoverBackground: #dfdfdf;
  --vscode-welcomePage-tileShadow: transparent;
  --vscode-welcomePage-progress\.background: #ffffff;
  --vscode-welcomePage-progress\.foreground: #005fb8;
  --vscode-statusBar-debuggingBackground: #fd716c;
  --vscode-statusBar-debuggingForeground: #000000;
  --vscode-statusBar-debuggingBorder: #e5e5e5;
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #f1dfde;
  --vscode-ports-iconRunningProcessForeground: #369432;
  --vscode-editor-inlineValuesForeground: #00000080;
  --vscode-editor-inlineValuesBackground: #ffc80033;
  --vscode-editorGutter-modifiedBackground: #005fb8;
  --vscode-editorGutter-addedBackground: #2ea043;
  --vscode-editorGutter-deletedBackground: #f85149;
  --vscode-minimapGutter-modifiedBackground: #005fb8;
  --vscode-minimapGutter-addedBackground: #2ea043;
  --vscode-minimapGutter-deletedBackground: #f85149;
  --vscode-editorOverviewRuler-modifiedForeground: #005fb899;
  --vscode-editorOverviewRuler-addedForeground: #2ea04399;
  --vscode-editorOverviewRuler-deletedForeground: #f8514999;
  --vscode-debugIcon-breakpointForeground: #e51400;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #be8700;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-keybindingTable-headerBackground: #3b3b3b0a;
  --vscode-keybindingTable-rowsBackground: #3b3b3b0a;
  --vscode-notebook-cellBorderColor: #e5e5e5;
  --vscode-notebook-focusedEditorBorder: #005fb8;
  --vscode-notebookStatusSuccessIcon-foreground: #388a34;
  --vscode-notebookStatusErrorIcon-foreground: #f85149;
  --vscode-notebookStatusRunningIcon-foreground: #3b3b3b;
  --vscode-notebook-cellToolbarSeparator: #80808059;
  --vscode-notebook-selectedCellBackground: #c8ddf150;
  --vscode-notebook-selectedCellBorder: #e5e5e5;
  --vscode-notebook-focusedCellBorder: #005fb8;
  --vscode-notebook-inactiveFocusedCellBorder: #e5e5e5;
  --vscode-notebook-cellStatusBarItemHoverBackground: #00000014;
  --vscode-notebook-cellInsertionIndicator: #005fb8;
  --vscode-notebookScrollbarSlider-background: #64646466;
  --vscode-notebookScrollbarSlider-hoverBackground: #646464b3;
  --vscode-notebookScrollbarSlider-activeBackground: #00000099;
  --vscode-notebook-symbolHighlightBackground: #fdff0033;
  --vscode-notebook-cellEditorBackground: #f8f8f8;
  --vscode-scm-providerBorder: transparent;
  --vscode-debugTokenExpression-name: #9b46b0;
  --vscode-debugTokenExpression-value: #6c6c6ccc;
  --vscode-debugTokenExpression-string: #a31515;
  --vscode-debugTokenExpression-boolean: #0000ff;
  --vscode-debugTokenExpression-number: #098658;
  --vscode-debugTokenExpression-error: #e51400;
  --vscode-debugView-exceptionLabelForeground: #ffffff;
  --vscode-debugView-exceptionLabelBackground: #a31515;
  --vscode-debugView-stateLabelForeground: #3b3b3b;
  --vscode-debugView-stateLabelBackground: #88888844;
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #1a85ff;
  --vscode-debugConsole-warningForeground: #bf8803;
  --vscode-debugConsole-errorForeground: #f85149;
  --vscode-debugConsole-sourceForeground: #3b3b3b;
  --vscode-debugConsoleInputIcon-foreground: #3b3b3b;
  --vscode-debugIcon-pauseForeground: #007acc;
  --vscode-debugIcon-stopForeground: #a1260d;
  --vscode-debugIcon-disconnectForeground: #a1260d;
  --vscode-debugIcon-restartForeground: #388a34;
  --vscode-debugIcon-stepOverForeground: #007acc;
  --vscode-debugIcon-stepIntoForeground: #007acc;
  --vscode-debugIcon-stepOutForeground: #007acc;
  --vscode-debugIcon-continueForeground: #007acc;
  --vscode-debugIcon-stepBackForeground: #007acc;
  --vscode-extensionButton-prominentBackground: #005fb8;
  --vscode-extensionButton-prominentForeground: #ffffff;
  --vscode-extensionButton-prominentHoverBackground: #0258a8;
  --vscode-extensionIcon-starForeground: #df6100;
  --vscode-extensionIcon-verifiedForeground: #005fb8;
  --vscode-extensionIcon-preReleaseForeground: #1d9271;
  --vscode-terminal-ansiBlack: #000000;
  --vscode-terminal-ansiRed: #cd3131;
  --vscode-terminal-ansiGreen: #107c10;
  --vscode-terminal-ansiYellow: #949800;
  --vscode-terminal-ansiBlue: #0451a5;
  --vscode-terminal-ansiMagenta: #bc05bc;
  --vscode-terminal-ansiCyan: #0598bc;
  --vscode-terminal-ansiWhite: #555555;
  --vscode-terminal-ansiBrightBlack: #666666;
  --vscode-terminal-ansiBrightRed: #cd3131;
  --vscode-terminal-ansiBrightGreen: #14ce14;
  --vscode-terminal-ansiBrightYellow: #b5ba00;
  --vscode-terminal-ansiBrightBlue: #0451a5;
  --vscode-terminal-ansiBrightMagenta: #bc05bc;
  --vscode-terminal-ansiBrightCyan: #0598bc;
  --vscode-terminal-ansiBrightWhite: #a5a5a5;
  --vscode-interactive-activeCodeBorder: #007acc;
  --vscode-interactive-inactiveCodeBorder: #e4e6f1;
  --vscode-gitDecoration-addedResourceForeground: #587c0c;
  --vscode-gitDecoration-modifiedResourceForeground: #895503;
  --vscode-gitDecoration-deletedResourceForeground: #ad0707;
  --vscode-gitDecoration-renamedResourceForeground: #007100;
  --vscode-gitDecoration-untrackedResourceForeground: #007100;
  --vscode-gitDecoration-ignoredResourceForeground: #8e8e90;
  --vscode-gitDecoration-stageModifiedResourceForeground: #895503;
  --vscode-gitDecoration-stageDeletedResourceForeground: #ad0707;
  --vscode-gitDecoration-conflictingResourceForeground: #ad0707;
  --vscode-gitDecoration-submoduleResourceForeground: #1258a7;
  --vscode-testExplorer-errorDecorationBackground: transparent;
  --vscode-widget-border: #e5e5e5;
  --vscode-activityBarBadge-background: #005fb8;
}
